body{
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
}



.animated {
   animation-iteration-count: 3;
}

.rollIn, .bounceInDown, .fadeInDown, .flipInX, .shake {
  animation-iteration-count: 1;
}

#characterBar{
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 10px;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 25px;
  background-image:linear-gradient(rgba(122, 122, 122, .5), rgba(61, 61, 61, .5));
  box-shadow: 0px 10px 5px rgba(100, 100, 100, .5);
  border-radius: 25px;
}
#characterBar:hover{
  background-color: #3a3a3a;
  color: white;
}
.imgs {
  padding-top: 100px;
}
img {
  height: 400px;
  width: 225px;
}
#pimg{
  margin: 0;
}
#startScreen,
#scenario1,
#scenario1Outcome-a,
#scenario1Outcome-s,
#scenario1Outcome-c,
#scenario1Outcome-i
#scenario1Outcome-h,
#scenario2,
#scenario2Outcome-a,
#scenario2Outcome-s,
#scenario2Outcome-c,
#scenario2Outcome-i,
#scenario2Outcome-h,
#scenario3,
#scenario3Outcome-a,
#scenario3Outcome-s,
#scenario3Outcome-c,
#scenario3Outcome-i,
#scenario3Outcome-h,
#scenario4,
#scenario4Outcome-a,
#scenario4Outcome-s,
#scenario4Outcome-c,
#scenario4Outcome-i,
#scenario4Outcome-h,
.outcome{
  background-image:linear-gradient(rgba(122, 122, 122, .5), rgba(61, 61, 61, .5));
  box-shadow: 0px 10px 5px rgba(100, 100, 100, .5);
  border-radius: 25px;
  padding: 2%;
  margin-left: 10%;
  margin-right: 10%;
  height: 400px;
  display: relative;
}

#scenario1Outcome-a,
#scenario1Outcome-s,
#scenario1Outcome-c,
#scenario1Outcome-i,
#scenario1Outcome-h,
#scenario2Outcome-a,
#scenario2Outcome-s,
#scenario2Outcome-c,
#scenario2Outcome-i,
#scenario2Outcome-h,
#scenario3Outcome-a,
#scenario3Outcome-s,
#scenario3Outcome-c,
#scenario3Outcome-i,
#scenario3Outcome-h,
#scenario4Outcome-a,
#scenario4Outcome-s,
#scenario4Outcome-c,
#scenario4Outcome-i,
#scenario4Outcome-h {
  padding-top: 13%;
}

#scenario1Form,
#scenario2Form,
#scenario3Form,
#scenario4Form {
  padding-top: 1%;
}

#ending-a,
#ending-s,
#ending-c,
#ending-i,
#ending-h{
  margin-top: 175px;
}
.btn{
  margin: 15px;
}
#refreshButton{
  display: none;
  margin-top: 5%;
}
#characterForm{
  padding-left: 46%;
  padding-right: 46%;
}
/* Divs to start hidden */
#characterBar p{
  display: none;
}
#scenario1{
  display: none;
}
#scenario1Outcome{
  display: none;
}
#scenario2{
  display: none;
}
#scenario2Outcome{
  display: none;
}
#scenario3{
  display: none;
}
#scenario3Outcome{
  display: none;
}
#scenario4{
  display: none;
}
#scenario4Outcome{
  display: none;
}
.outcome {
  display: none;
}
